
server {
    listen 80;
    listen [::]:80;
    ## Your website name goes here.
    server_name 127.0.0.1 localhost;
    ## Your only path reference.
    root /var/www/public;
    index bitrixsetup.php restore.php index.php index.html;

    include conf.d/global/common.conf;
    include conf.d/global/restrictions.conf;

    location / {
        if (!-e $request_filename) {
           rewrite  ^(.*)$  /bitrix/urlrewrite.php last;
        }

        # remove multiple slashes
        # duplicated slashes sometimes will work and won't be rewritten, fixing it in this configuration is tricky
        rewrite ^([^.]*?\/)\/+(.*)$ $1$2 permanent;

        # redirect index.php to page without it
        if ($request_uri ~* "^(.*/)index\.php$") {
            return 301 $1;
        }
    }

    location ~ (/\.ht*|/\.git|/\.gitignore|/composer.*) { deny all; }
    location ~ (\.settings\.php|/bitrix/backup|/bitrix/updates|/bitrix/modules|/bitrix/php_interface|/bitrix/*_cache|/bitrix/html_pages/\.|/upload/1c_exchange|local/modules|local/php_interface) {
        deny all;
    }

    location ~ /upload/ {
        client_body_buffer_size 1024m;
        client_max_body_size 1024m;
    }

    location ~ (/restore.php|/bitrixsetup.php) {
        include fastcgi_params;
        fastcgi_pass php:9000;
        # make SERVER_NAME behave same as HTTP_HOST
        fastcgi_param SERVER_NAME $host;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_send_timeout 21600;
        fastcgi_read_timeout 21600;
        client_body_buffer_size 1024m;
        client_max_body_size 1024m;
    }

    location ~* ^.+\.(jpg|jpeg|gif|png|svg|js|css|mp3|ogg|mpe?g|avi|zip|gz|bz2?|rar|eot|otf|ttf|woff|woff2)$ {
        log_not_found off;
        access_log off;
        expires max;
        add_header Cache-Control public;
        # re-add security header
        add_header X-Content-Type-Options nosniff;
    }

    # Disable access for non-static assets (not js and css) in cache location
    location ~* ^/bitrix/cache { deny all; }

    include conf.d/global/php.conf;
}
